.searchBoxContainer {
  padding: 10px;
}

.CharacterSearch-indCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.356);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.356);
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  margin: 3px;
}

/* .searchBoxContainer input {
  width: 60%;
  max-width: 400px;
  height: 1.2rem;
  font-size: large;
} */

/* .CharacterSearch-div {
  align-items: center;
  justify-content: center;
} */

.CharacterSearch-div {
  width: 100%;
}
